body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  background-color: darkblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 400px;
  width: 400px;
}

.button {
  background-color: white;
  height: 84px;
  width: 166px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
  box-shadow: -8px -5px 0px 0px darkmagenta;
}

.blanco {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: darkmagenta;
  font-size: 18px;
  height: 84px;
  width: 166px;
  text-align: center;
  padding-top: 12px;
}

.button:hover {
  background-color: darkmagenta;
  box-shadow: 5px 5px 0px 0px white;
}

.blanco:hover {
  color: white;
}
